fastapi
uvicorn[standard]
pydantic
redis
prometheus-client
langchain
langchain-openai
langchain-core
faiss-cpu
pytest
httpx
pytest-asyncio
python-dotenv
langchain-community
langchain-groq
langgraph
sentence-transformers